/*Home Page CSS*/

/*Header*/

.default-heading {
    text-align: center;
}

.default-heading h1 {
  margin-top: -20px; 
}

.default-heading h2 {
  text-align: left; 
  margin: 5px; 
}

.default-heading img {
  width: 160px; 
  height: 160px; 
}

header {
  background-color: rgb(31, 81, 167);
  color: white;
  padding: 15px;
  text-align: center;
  margin:0;
  display: flex; 
  justify-content: center;
}

h1 {
    color: #3498db; 
}

ul.pages {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

ul.pages li {
    margin-right: 20px;
    box-sizing: border-box;
}

ul.pages li:last-child {
    margin-right: 0; 
}

ul.pages li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 8px;
    display: block;
}

/*Footer*/
.footer-container {
  background-color: rgb(31, 81, 167);
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
}

.footer-tabs {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.footer-pages {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer-pages a {
  text-decoration: none;
  font-size: 18px;
  border: 2px solid white;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 8px;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.community,
.sponsored,
.footer-logo {
  flex: 1;
  text-align: left;
  padding: 10px;
  margin-top: 0;
}

.community a {
  color: white;
  display: block;
}

.contact-info {
  flex: 1;
  text-align: left;
  padding: 10px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 15px;
}

.sponsored img {
  margin-right: 8px;
}

.footer-logo img {
  width: 250px;
  height: 250px;
  display: block;
  margin: auto;
  margin-bottom: 35px;
}

.copyright {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  padding: 10px;
}

.copyright p {
  margin: 5px 0;
  color: white;
}

/*Index Page (Home Page CSS)*/
.home-page-images {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.home-page-images img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0px; 
}

/* About Us Page CSS */

.custom-box {
    border: 2px solid black;
    padding: 20px;
    width: 50%;
    margin: 10px;
    background-color:  #cde4ee;
    border-radius: 8px;
} 
  
.custom-heading {
    font-weight: bold;
    font-size: 25px;
    margin:10px;
}
  
.custom-box p {
    font-size: 20px;
}
  
.who-are-we-image-box {
    width: 20%;
    height: 300px;
    background-color: #ccc;
    margin-left: 880px;
    margin-top: -325px;
}
  
.custom-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
  
p {
    line-height: 1.5;
    margin: 0;
    font-size: 18px;
    color: black;
}
  
/*Our Focus*/
.our-focus-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #ffffff;
    max-width: 800px; 
    margin: 0 auto; 
    border-radius: 8px
}
  
.our-focus-subbox {
    border: 2px solid grey;
    padding: 15px;
    background-color: #fdf5ec;
    text-align: center;
    width: 80%; 
    border-radius: 8px
}

.focus-image-box {
    width: 250px;
    height: 250px; 
    background-color: #ccc; 
    border-radius: 8px;
    margin-top: 5px;
}

/*Founder*/
.founder-grid {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .founder-image-box {
    text-align: center;
    
  }
  
  .founder-box {
    border: 1px solid rgb(19, 19, 19);
    text-align: center;
    padding: 10px;
    background-color: #fdf5ec;
    width: 95%;
    margin: 0 auto;
    border-radius: 8px
  }
  
  .founder-box p {
    font-size: 20px; 
  }
  
  .founder-box li {
    text-align: left;
    font-size: 20px; 
  }
  
  .founder-image-box img {
    width: 100%;
    height: auto;
  }

/*Coaches*/

.our-coaches-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #afa0ee;
    max-width: 800px; 
    margin: 0 auto; 
    border-radius: 15px
  }

.our-coaches-subbox {
    border: 2px solid rgb(103, 103, 103);
    padding: 15px;
    background-color: #ecf0f1;
    text-align: center;
    width: 85%; 
    border-radius: 8px
}

.our-coaches-subbox p,
.image-box p {
    font-size: 25px;
}

.our-coaches-subbox li{
    font-size:20px;
}

.our-coaches-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    max-width: 800px; 
    margin: 0 auto; 
}

.image-box {
    
    width: 90.8%; 
    background-color: #ecf0f1;
    box-sizing: border-box; 
}

.image-box2 {
    border: 2px solid rgb(103, 103, 103);
    width: 100%; 
    background-color: #ecf0f1;
    box-sizing: border-box; 
}

/*Coaching Page CSS*/

/*Coaching Info*/

.equipment-page-heading
  {
    text-align: center;
  }
  
.container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 20px auto;
}
  
.big-coaching-box {
      flex-basis: 66%; 
      background-color: #f7efe6;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border: 2px solid black;
      border-radius: 8px;
      margin: 10px;  
}
       
.box {
      flex-basis: calc(33.33% - 20px);
      margin: 10px;
      text-align: center;   
}
  
.box hr {
      margin: 10px 0;
      border: 0;
      border-top: 2px solid grey
}
  
.private-coaching-small-box{
      flex-basis: 30%; 
      background-color: rgba(252, 224, 224, 0.863);
      padding: 20px;
      box-sizing: border-box;
      border: 2px solid black;
      border-radius: 8px;
      margin: 10px;   
}    

/*Coaching Levels Details*/

.coaching-levels-subbox {
    border: 2px solid grey;
    padding: 15px;
    background-color: #fff1f1;
    text-align: center;
    width: 80%; 
    border-radius: 8px
  }
  
.coaching-levels-subbox p,
.image-box p {
      font-size: 25px;
}
  
.coaching-levels-subbox li{
    font-size:20px;
}
  
.coaching-levels-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    max-width: 800px; 
    margin: 0 auto; 
}

.coaching-levels-heading
{
  text-align: center;
  margin-bottom: 5px;
}

/*Sign Up Form*/

.form-heading{
    text-align: center;
  }
  
.form-centralise {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
  
form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 50%;
    border-radius: 10px
}
  
form input[type="submit"] {
    grid-column: span 2;
}
  
/* Sign Up Form Confirmation Message */
.confirmation-message-box {
    display: none;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    z-index: 1000; 
}

.error-message {
  display: none;
    background-color: rgb(255, 99, 99);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    z-index: 1000; 
}

/*Filter Panel*/

.filter-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    border: 1px solid #a2a2a2;
    border-radius: 10px;
    margin: 10px;
    background-color: #f7efe6;
  }
  
.filter-box label {
    margin-left: 10px;
    font-size: 20px;
    border-radius: 5px
}
  
.filter-box select {
    margin-left: 10px;
    font-size: 20px;
    border-radius: 5px
}

.box2.hidden {
  display: none;
}

/*Shopping Cart*/

.add-to-cart-button {
  font-size: 18px; 
  padding: 10px 20px; 
  background-color: #dbdbdb;
  border-radius: 5px;
}

.add-to-cart-button:hover {
  background-color: #f88f44;
  color: #fff;
}

#shopping-cart-container {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 15px;
  background-color: #f88f44;
  text-align: center;
  border-radius: 5px;
  z-index: 1000;
}

#cart-popup {
  display: none;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  min-width: 250px;
  text-align: left;
  border-radius: 5px;
}

#cart-popup h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

#cart-items {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

#cart-table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

#cart-table th,
#cart-table td {
  padding: 8px;
  border: 1px solid rgb(0, 0, 0);
  text-align: left;
}

#cart-summary {
  text-align: right;
  margin-top: 15px;
}

#total-price {
  font-weight: bold;
  font-size: 16px;
}

#checkout-button {
  background-color: #fff;
  color: #f88f44;
  border: 1px solid #f17115;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

#checkout-button:hover {
  background-color: #f88f44;
  color: #fff;
}

#close-cart {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 14px;
  color: #f88f44;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #f17115;
  padding: 5px 10px;
  border-radius: 3px;
}

#product-purchase-message {
  display: none;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    z-index: 1000; 
}

/*Bowling Ball Display*/

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255); 
}

.container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.box2 {
  text-align: center;
  padding: 10px;
  border: 1px solid #a2a2a2;
  box-sizing: border-box;
  position: relative;
  border-radius: 15px;
  background-color: #f7efe6;
}

.box2 img{
  margin-bottom: 10px;
}

/*Hidden Additional Ball Info Box*/

.ball-info {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/*Mobile View Settings*/

/*Heading Table*/

@media (max-width: 767px) {
  .default-heading {
    font-size: 10px; 
  }


  ul.pages {
    flex-wrap: wrap; 
    justify-content: center; 
  }

  ul.pages li {
    width: 45%; 
    margin: 5px;
  }
 
  .home-page-images img {
    width: 100%; 
    height: auto; 
  }

  /*Footer*/

  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-tabs {
    padding: 10px 0;
  }

  .footer-pages a {
    margin: 5px 0;
  }

  .contact-info li {
    margin-bottom: 10px;
  }

  .community a {
    margin-bottom: 10px;
  }

  .sponsored img {
    margin-right: 0;
  }

  .contact-info,
  .community,
  .sponsored,
  .footer-logo,
  .copyright {
    text-align: center;
  }

  /*About Us Page*/

  /*Introduction*/
  .custom-layout {
    flex-direction: column;
    align-items: center;
  }
  
  .custom-box {
    width: 85%;
    max-width: 600px; 
    margin: 20px auto; 
  }
  
  .who-are-we-image-box {
    width: 92%;
    max-width: 550px; 
    margin: auto; 
  }

  /*Our Focus*/
  .our-focus-box {
    flex-direction: column;
    align-items: center;
  }

  .our-focus-subbox {
    width: 85%; 
    margin-bottom: 20px; 
  }

  .focus-image-box {
    width: 100%; 
    margin: 0 auto;
    max-width: 250px;
  }

  /*Our Founder*/

  .founder-grid {
    grid-template-columns: 1fr; 
  }

  .founder-image-box{
    margin: 0 auto;
    width:95%
  }

  .founder-box {
    width: 90%;
  }
  
  /*Our Coaches*/
  .our-coaches-grid {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .our-coaches-subbox,
  .image-box,
  .image-box2 {
    width: 80%; 
    margin: 0 auto; 
    box-sizing: border-box; /
  }

  .our-coaches-subbox p,
  .image-box p {
    font-size: 18px; 
  }

  .our-coaches-subbox li {
    font-size: 16px; 
  }

  /*Coaching Page*/

  /*Coaching Details*/

  .container {
    flex-direction: column;
    align-items: center;
  }

  .big-coaching-box{
    flex-basis: 100% ;
    margin: 0 10px; 
  }

  .private-coaching-small-box{
    flex-basis: 100%; 
    width:90%;
    margin-top: 20px;
}    

  /*Coaching Levels*/

  .coaching-levels-grid {
    grid-template-columns: 1fr; 
    justify-items: center;
    width: 85%; 
    margin: 0 auto;
  }
  
  .coaching-levels-subbox{
    text-align: left;
  }

  .coaching-levels-heading{
    text-align: center;
  }

  /*Sign Up Form*/

  form {
    grid-template-columns: 1fr; 
    width: 90%; 
    margin: 40px auto;  
  }

  .form-centralise {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }

  .form-heading{
    font-size: 20px;
    text-align: center;
  }

  form input {
    width: 100%;
  }

  /*Validation Message for Form*/

  .confirmation-message-box,
  .error-message {
    bottom: 50%; /* Adjust the value to center vertically */
    transform: translate(-50%, -50%);
  }

  /*Equipment Page*/
  /*Filter Panel*/
 
  .filter-box label,
  .filter-box select {
    width: 50%; 
    margin-left: 15; 
    font-size: 16px;
  }

  /*Bowling Balls Display*/
  .equipment-page-heading{
    font-size: 12px;
  }

  .container2 {
    grid-template-columns: 1fr; 
    width: 95%; 
    margin: 0 auto; 
  }

  #shopping-cart-container {
    padding: 10px;
  }

  #cart-popup {
    min-width: 80%;
  }

  /*Product Purchase Message*/
  #product-purchase-message {
    bottom: 50%; /* Adjust the value to center vertically */
    transform: translate(-50%, -50%);
  }

 
}
  




  